.boards__display-link {
  display: block;
  text-align: center;
  background-color: #fafafa;
  padding: 10px;
  margin-bottom: 10px;
}
.boards__display-link i {
  opacity: 0.3;
}
.boards__display-link .fa-chevron-right {
  margin-left: 5px;
}

.board-note {
  margin-top: 35px;
}

.board-note__title {
  width: 100%;
  height: 25px;
  margin-bottom: 10px;
  background-color: rgba(173, 216, 230, 0.658);
  border: none;
}
.board-note__text {
  width: 100%;
  height: 50vh;
  background-color: rgb(250, 236, 109);
  border: none;
}
.board-note__btn {
  float: right;
  margin-top: 10px;
}
