.chatWithBoss {
  background-color: rgb(146, 195, 216);
  box-sizing: border-box;
  position: relative;
}

.message-row {
  width: 100%;
}

.received {
  display: flex;
  align-items: center;
  padding: 0px;
}

.received .message-author__img {
  margin-top: 15px;
  width: 38px;
  height: 38px;
  background-color: rgb(255, 255, 255);
  font-size: 22px;
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.message__author {
  font-size: 11px;
  opacity: 0.9;
  display: block;
  margin-bottom: 7px;
}

.received .message__info {
  display: flex;
  align-items: flex-end;
}

.received .message__bubble {
  background-color: #fff;
  padding: 8px 10px;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  font-size: 12px;
  line-height: 1.4;
}

.received .message__time {
  opacity: 0.9;
  margin-left: 5px;
  font-size: 9px;
}
