.co-wo-dots__contents {
  padding: var(--horizontal-space);
}

.co-wo-dots__contents .fa-question-circle {
  color: red;
  opacity: 0.7;
}

.co-wo-dots__contents .fa-address-book {
  opacity: 0.5;
  transition: 0.2s;
  cursor: pointer;
}
.fa-address-book:hover,
.fa-address-book:focus {
  opacity: 1;
}

.icons-row__icon i {
  transition: 0.3s;
}

.icons-row__icon i:hover {
  transform: scale(1.05);
}

.dots-sug__line {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  /* margin: 30px 0; */
  padding: var(--horizontal-space);
}

.dots-sug {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.dots-sug__icon {
  text-align: center;
}

/* .dots-sug__icon:nth-child(2) {
  margin: 0 33.33%;
} */
.dots-sug__icon i {
  font-size: 30px;
  transition: 0.3s;
}
.dots-sug__icon:first-child {
  padding-left: 8px;
}
.dots-sug__icon p {
  margin-top: 13px;
  font-size: 11px;
}
.dots-sug__icon i:hover {
  transform: scale(1.05);
}
