.nav-bar {
  background: #f9f9fa;
  padding: 20px 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.nav__li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav__btn:nth-child(2) {
  position: relative;
}

.nav-chats__noti {
  position: absolute;
  top: -8px;
  left: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  background-color: tomato;
  color: #fff;
  border-radius: 50%;
  animation: upDown 2s ease-in-out infinite;
  font-size: 10px;
}

@keyframes upDown {
  0% {
    transform: none;
  }
  30% {
    transform: translateY(5px);
  }
  70% {
    transform: translateY(-5px);
  }
}

.nav-dots__dot {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  right: -5px;
}

.clicked__btn {
  color: cornflowerblue;
}

.nav__btn {
  transition: 0.3s;
}

.nav__btn i:hover {
  color: var(--blue);
}

.fa-ellipsis-h:hover {
  animation: rotateElli 1.5s linear infinite;
}

@keyframes rotateElli {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
