#no-mobile {
  position: absolute;
  z-index: 9;
  height: 110vh;
  width: 100vw;
  background-color: cornflowerblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  top: 0;
}

@media screen and (max-width: 800px) {
  #no-mobile {
    display: none;
  }
}
